.arrow_box {
  position: relative;
  background: #62b5da;
  border: 4px solid #62b5da;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(98, 181, 218, 0);
  border-top-color: #62b5da;
  border-width: 30px;
  margin-left: -30px;
  z-index: 999;
}
.arrow_box:before {
  border-color: rgba(98, 181, 218, 0);
  border-top-color: #62b5da;
  border-width: 36px;
  margin-left: -36px;
}

.arrow_box_green {
  position: relative;
  background: #a9cc77;
  border: 4px solid #a9cc77;
}
.arrow_box_green:after, .arrow_box_green:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_green:after {
  border-color: rgba(169, 204, 119, 0);
  border-top-color: #a9cc77;
  border-width: 30px;
  margin-left: -30px;
  z-index: 999;
}
.arrow_box_green:before {
  border-color: rgba(169, 204, 119, 0);
  border-top-color: #a9cc77;
  border-width: 36px;
  margin-left: -36px;
}

span.text-center::after {
  content: " ";
  width: 8px;
  height: 8px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 3px;
  display: inline-block;
  border-radius: 1000%;
  background-color: #000;
}

span.text-center:last-child::after {
  content: " ";
  width: 8px;
  height: 8px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 3px;
  display: inline-block;
  border-radius: 15px;
  background-color: #fff;
}

