/* */
/*  Theme Name: FenixMedia */
/*  Author: msmtdev */
/*  Author URI: http://msmtdev.com */
/*  Description: Template form Fenix Media project. */
/*  Version: 1.0 */
/*  License: Copy Right */
@font-face {
  font-family: "Dosis-Bold";
  src: url("fonts/Dosis-Bold/dosis.bold.eot");
  src: url("fonts/Dosis-Bold/Dosis-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Dosis-Bold/Dosis-Bold.woff") format("woff"), url("fonts/Dosis-Bold/Dosis-Bold.ttf") format("truetype"), url("fonts/Dosis-Bold/Dosis-Bold.svg") format("svg"); }
@font-face {
  font-family: "Dosis-Book";
  src: url("fonts/Dosis-Book/dosis.book.eot");
  src: url("fonts/Dosis-Book/Dosis-Book.eot?#iefix") format("embedded-opentype"), url("fonts/Dosis-Book/Dosis-Book.woff") format("woff"), url("fonts/Dosis-Book/Dosis-Book.ttf") format("truetype"), url("fonts/Dosis-Book/Dosis-Book.svg") format("svg"); }
@font-face {
  font-family: "Dosis-ExtraBold";
  src: url("fonts/Dosis-ExtraBold/dosis.extrabold.eot");
  src: url("fonts/Dosis-ExtraBold/Dosis-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/Dosis-ExtraBold/Dosis-ExtraBold.woff") format("woff"), url("fonts/Dosis-ExtraBold/Dosis-ExtraBold.ttf") format("truetype"), url("fonts/Dosis-ExtraBold/Dosis-ExtraBold.svg") format("svg"); }
@font-face {
  font-family: "Dosis-ExtraLight";
  src: url("fonts/Dosis-ExtraLight/dosis.extralight.eot");
  src: url("fonts/Dosis-ExtraLight/Dosis-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/Dosis-ExtraLight/Dosis-ExtraLight.woff") format("woff"), url("fonts/Dosis-ExtraLight/Dosis-ExtraLight.ttf") format("truetype"), url("fonts/Dosis-ExtraLight/Dosis-ExtraLight.svg") format("svg"); }
@font-face {
  font-family: "Dosis-Light";
  src: url("fonts/Dosis-Light/dosis.light.eot");
  src: url("fonts/Dosis-Light/Dosis-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Dosis-Light/Dosis-Light.woff") format("woff"), url("fonts/Dosis-Light/Dosis-Light.ttf") format("truetype"), url("fonts/Dosis-Light/Dosis-Light.svg") format("svg"); }
@font-face {
  font-family: "Dosis-Medium";
  src: url("fonts/Dosis-Medium/dosis.medium.eot");
  src: url("fonts/Dosis-Medium/Dosis-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Dosis-Medium/Dosis-Medium.woff") format("woff"), url("fonts/Dosis-Medium/Dosis-Medium.ttf") format("truetype"), url("fonts/Dosis-Medium/Dosis-Medium.svg") format("svg"); }
@font-face {
  font-family: "Dosis-SemiBold";
  src: url("fonts/Dosis-SemiBold/dosis.semibold.eot");
  src: url("fonts/Dosis-SemiBold/Dosis-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Dosis-SemiBold/Dosis-SemiBold.woff") format("woff"), url("fonts/Dosis-SemiBold/Dosis-SemiBold.ttf") format("truetype"), url("fonts/Dosis-SemiBold/Dosis-SemiBold.svg") format("svg"); }
@font-face {
  font-family: "msmt";
  src: url("fonts/msmt/msmt.eot");
  src: url("fonts/msmt/msmt.eot?#iefix") format("embedded-opentype"), url("fonts/msmt/msmt.woff") format("woff"), url("fonts/msmt/msmt.ttf") format("truetype"), url("fonts/msmt/msmt.svg") format("svg"); }
/******************************************** */
/***********         Basic         ********** */
/******************************************** */
body {
  font-family: "Dosis-Book"; }

.bg-gray {
  background-color: #b3b3b3; }

.no-padding {
  padding: 0 !important; }

.mt-5 {
  margin-top: 5px; }

.mt-30 {
  margin-top: 30px; }

.text-red {
  color: #d71921; }

.center-div {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }

.vertical-align {
  top: 50%;
  transform: translateY(-50%); }

.white-buttons {
  font-size: 18px;
  margin: 0px 5px;
  color: #333333;
  padding: 4px 13px;
  text-transform: uppercase;
  border: 1px solid #333333; }

.white-buttons.active, .white-buttons:hover {
  cursor: pointer;
  color: #333333;
  text-decoration: none;
  background-color: #cccccc; }

.carousel-control {
  opacity: 1; }

.carousel-control:hover {
  opacity: 0.5; }

/******************************************** */
/***********        Nav Bar        ********** */
/******************************************** */
.fm-header {
  top: 15px;
  z-index: 1;
  height: 60px;
  position: fixed; }

.nav-li {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Dosis-Book"; }

.nav-li.active {
  padding-bottom: 5px;
  border-bottom: 1px solid #d71921; }

.navbar-default .navbar-nav > li > a {
  color: #cccccc; }

.navbar > .container .navbar-brand {
  margin-top: -7px;
  padding-top: 15px !important; }

.navbar-default .navbar-toggle {
  color: #ffffff;
  margin-top: 13px;
  background-color: transparent;
  border-color: 1px solid #ffffff; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  color: #ffffff;
  background-color: #d71921;
  border: 1px solid #d71921; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default {
  border: none;
  padding: 0px;
  z-index: 999;
  border-radius: 0px;
  background-image: none;
  background-color: #333333; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  cursor: pointer;
  color: #cccccc;
  padding-bottom: 5px;
  border-bottom: 1px solid #d71921; }

.navbar-brand {
  cursor: pointer; }

.navbar-right {
  width: 75%; }

.fm-trns-btn {
  width: 40px;
  cursor: pointer;
  margin: 9px 5px;
  font-size: 18px;
  padding: 5px 5px;
  color: #cccccc;
  font-family: "Dosis-Book";
  text-transform: uppercase;
  border: 1px solid #cccccc; }

.fm-trns-btn a {
  box-shadow: none !important; }

.fm-trns-btn a:hover {
  text-decoration: none; }

.fm-trns-btn.active {
  border-color: #d71921;
  background-color: #d71921; }

.fm-trns-btn.active a {
  background-color: #d71921; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  box-shadow: none !important;
  color: #cccccc !important;
  background-image: none !important;
  background-color: transparent !important; }

/******************************************** */
/***********          Home         ********** */
/******************************************** */
#Home {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/fm-bg.png"); }

.fm-home {
  margin-top: 60px;
  height: calc(100vh - 75px);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 37%, black 49%, black 51%, rgba(0, 0, 0, 0.98) 52%, rgba(0, 0, 0, 0.8) 63%, transparent 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 37%, black 49%, black 51%, rgba(0, 0, 0, 0.98) 52%, rgba(0, 0, 0, 0.8) 63%, transparent 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 37%, black 49%, black 51%, rgba(0, 0, 0, 0.98) 52%, rgba(0, 0, 0, 0.8) 63%, transparent 100%); }

.text-home {
  font-size: 22px;
  color: #666666;
  text-transform: uppercase; }

/******************************************** */
/***********          Team         ********** */
/******************************************** */
#team {
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff; }

#teamFacts, #teamService, #teamTeam {
  height: 100%;
  display: none; }

#teamFacts.active, #teamService.active, #teamTeam.active {
  display: block; }

.team-ppal {
  margin-top: 60px;
  min-height: 100vh; }

.team-buttons {
  padding: 30px; }

.div-right-border {
  border-right: 2px solid #333333; }

.text-facts-desc {
  font-size: 22px;
  padding: 30px 0;
  color: #666666;
  text-transform: uppercase; }

.text-facts-icons {
  height: 75px;
  font-size: 20px;
  color: #666666; }

.team-name {
  font-size: 15px;
  margin: 10px 0 0 0;
  text-align: center;
  text-transform: uppercase; }

.team-desc {
  color: #d71921;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase; }

#teamTeam {
  margin: 10px 0 60px 0; }

/******************************************** */
/***********          Work         ********** */
/******************************************** */
#work {
  background-color: #333333; }

.work-ppal {
  margin-top: 105px;
  min-height: calc(100vh - 75px); }

.text-work {
  font-size: 15px;
  max-width: 150px;
  color: #cccccc;
  margin-bottom: 0px; }

.block-work {
  margin-bottom: 5%; }

.modal-content {
  background-color: #333333; }

.close {
  color: #ffffff;
  margin-bottom: 15px; }

.modal iframe {
  margin-bottom: 15px; }

.modal-dialog {
  max-width: 750px;
  width: 100% !important; }

#modal1, #modal2, #modal3, #modal4, #modal5, #modal6, #modal7, #modal8, #modal9, #modal10,
#modal11, #modal12, #modal13, #modal14, #modal15, #modal16, #modal17, #modal18, #modal19, #modal20,
#modal21, #modal22, #modal23, #modal24, #modal25, #modal26, #modal27, #modal28, #modal29, #modal30,
#modal31, #modal32, #modal33, #modal34, #modal35, #modal36, #modal37, #modal38, #modal39, #modal40,
#modal41, #modal42, #modal43, #modal44, #modal45, #modal46, #modal47, #modal48, #modal49, #modal50,
#modal51, #modal52, #modal53, #modal54, #modal55, #modal56, #modal57, #modal58, #modal59, #modal60,
#modal61, #modal62, #modal63, #modal64, #modal65, #modal66, #modal67, #modal68, #modal69, #modal70,
#modal71, #modal72, #modal73, #modal74, #modal75, #modal76, #modal77, #modal78, #modal79, #modal80,
#modal81, #modal82, #modal83, #modal84, #modal85, #modal86, #modal87, #modal88, #modal89, #modal90,
#modal91, #modal92, #modal93, #modal94, #modal95, #modal96, #modal97, #modal98, #modal99, #modal100,
#modal101, #modal102, #modal103, #modal104, #modal105, #modal106, #modal107, #modal108, #modal109, #modal110,
#modal110, #modal112, #modal113, #modal114, #modal115, #modal116, #modal117, #modal118, #modal119, #modal120,
#modal120, #modal122, #modal123, #modal124, #modal125, #modal126, #modal127, #modal128, #modal129, #modal130,
#modal130, #modal132, #modal133, #modal134, #modal135, #modal136, #modal137, #modal138, #modal139, #modal140,
#modal140, #modal142, #modal143, #modal144, #modal145, #modal146, #modal147, #modal148, #modal149, #modal150,
#modal150, #modal152, #modal153, #modal154, #modal155, #modal156, #modal157, #modal158, #modal159, #modal160,
#modal160, #modal162, #modal163, #modal164, #modal165, #modal166, #modal167, #modal168, #modal169, #modal170,
#modal170, #modal172, #modal173, #modal174, #modal175, #modal176, #modal177, #modal178, #modal179, #modal180,
#modal180, #modal182, #modal183, #modal184, #modal185, #modal186, #modal187, #modal188, #modal189, #modal190,
#modal190, #modal192, #modal193, #modal194, #modal195, #modal196, #modal197, #modal198, #modal199, #modal200 {
  display: none; }

/******************************************** */
/***********          Reef         ********** */
/******************************************** */
#reef {
  height: 100vh;
  background-color: #333333; }

.reef-ppal {
  margin-top: 50px;
  max-height: 720px;
  height: calc(100vh - 75px); }

.reef-title {
  font-size: 18px;
  color: #cccccc;
  padding-bottom: 2%;
  text-transform: uppercase; }

/******************************************** */
/***********        Stories        ********** */
/******************************************** */
#stories {
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff; }

#stories.active {
  background-color: #000000; }

.stories-ppal {
  height: 100%;
  margin-top: 60px;
  min-height: calc(100vh - 75px); }

#stories .carousel-control.left, #contactCarousel .carousel-control.left {
  background-image: none !important; }

#stories .carousel-control.right, #contactCarousel .carousel-control.right {
  background-image: none !important; }

.fm-carousel-indicators li, .fm-carousel-indicators .active {
  border: 1px solid #666666 !important; }

.fm-carousel-indicators .active {
  width: 10px !important;
  height: 10px !important;
  background-color: #666666; }

.fm-carousel-indicators {
  bottom: -50px; }

#stories .carousel-indicators li {
  width: 14px !important;
  height: 14px !important;
  margin: 0px 5px -1px 5px !important; }

#stories .carousel-indicators.active {
  width: 12px !important;
  height: 12px !important; }

#stories .carousel-control {
  width: 71%;
  opacity: 1;
  z-index: 100;
  height: 488px;
  cursor: pointer;
  color: #666666;
  text-shadow: none; }

#stories .carousel-inner {
  z-index: 101; }

#stories .carousel-control .glyphicon-menu-left, #stories .carousel-control .glyphicon-menu-right, #stories .carousel-control .icon-next, #stories .carousel-control .icon-prev {
  top: 102% !important; }

.stories-info {
  height: 480px;
  border-bottom: 1px solid #666666; }

.stories-title {
  font-size: 22px;
  text-transform: uppercase; }

.stories-desc {
  font-size: 20px; }

.stories-img {
  margin-top: 50px; }

#storiesCli, #storiesSto {
  display: none; }

#storiesCli.active, #storiesSto.active {
  display: block; }

.brand-div {
  margin: 10px 0;
  max-height: 80px; }

#storiesCli {
  margin-bottom: 60px; }

/******************************************** */
/***********        Contact        ********** */
/******************************************** */
#contacto {
  height: 100vh;
  background-color: #b3b3b3; }

.contact-ppal {
  margin-top: 50px;
  max-height: 720px;
  padding-top: 150px;
  height: calc(100vh - 75px); }

.contact-message {
  font-size: 22px;
  color: #666666;
  margin-bottom: 6vh; }

.text-city {
  font-size: 22px;
  margin-bottom: 0;
  color: #666666; }

.text-info {
  font-size: 20px;
  margin-bottom: 0;
  color: #666666; }

#contacto input, #contacto textarea {
  width: 70%;
  padding: 5px;
  color: #ffffff;
  border: 1px solid #333333;
  background-color: transparent; }

#contacto input::-webkit-input-placeholder,
#contacto textarea::-webkit-input-placeholder {
  color: #ffffff;
  text-transform: uppercase; }

#contacto input::-moz-placeholder,
#contacto textarea::-moz-placeholder {
  color: #ffffff;
  text-transform: uppercase; }

#contacto input:-ms-input-placeholder,
#contacto textarea:-ms-input-placeholder {
  color: #ffffff;
  text-transform: uppercase; }

#contacto input:-moz-placeholder,
#contacto textarea:-moz-placeholder {
  color: #ffffff;
  text-transform: uppercase; }

.div-contact-b {
  width: 70%;
  text-align: right; }

.wpcf7-submit {
  cursor: pointer;
  width: auto !important;
  text-transform: uppercase;
  color: #333333 !important;
  padding: 5px 10px !important; }

.wpcf7-submit:hover {
  background-color: #ffffff !important; }

div.wpcf7-validation-errors {
  width: 70% !important;
  margin: 5% 0 !important;
  padding: 0.2em 1em !important;
  border: 2px solid #d71921 !important; }

#contacto .div-right-border {
  max-height: 70vh;
  margin-bottom: 10vh; }

.div-sm-icons {
  margin-top: 5vh; }

.div-fb {
  margin-left: 17vw; }

.footer-txt-cp {
  font-size: 15px;
  font-family: Dosis-Book; }

.footer-txt-cp-1 a {
  cursor: pointer;
  color: #333333;
  text-decoration: none; }

.login h1 a {
  width: 150px !important;
  height: 150px !important;
  margin: 0 auto -20px !important;
  background-size: 150px !important;
  background-image: url("../images/FMLogo.jpg") !important; }

@media only screen and (min-width: 1170px) {
  /******************************************** */
  /***********        Contact        ********** */
  /******************************************** */
  .div-fb {
    margin-left: 39%; }

  .div-sm-icons {
    margin-top: 8%; }

  .contact-message {
    margin-bottom: 5%; } }
@media only screen and (max-width: 768px) {
  .white-buttons {
    font-size: 12px; }

  /******************************************** */
  /***********         Home          ********** */
  /******************************************** */
  .text-home {
    font-size: 20px; }

  /******************************************** */
  /***********         Facts         ********** */
  /******************************************** */
  .text-facts-desc {
    font-size: 20px; }

  #CarouselFactsDesc .fm-carousel-indicators {
    bottom: 0px; }

  #CarouselFactsDesc .carousel-indicators li, #CarouselFactsDesc .carousel-indicators li .active {
    width: 15px !important;
    height: 15px !important; }

  #CarouselFactsDesc .fm-carousel-indicators li, #CarouselFactsDesc .fm-carousel-indicators .active {
    margin: 5px 1px; }

  #CarouselFactsDesc .fm-carousel-indicators .active {
    margin-top: -2px;
    border: 1px solid #d71921 !important;
    background-color: #d71921 !important; }

  #CarouselFactsDesc .carousel-indicators li {
    background-color: #cccccc;
    border: 1px solid #cccccc !important; }

  #CarouselFactsImgs {
    margin-bottom: 75px; }

  #CarouselFactsImgs .fm-carousel-indicators {
    bottom: -45px; }

  #CarouselFactsImgs .carousel-control.left, #CarouselFactsImgs .carousel-control.right {
    background-image: none !important; }

  #CarouselFactsImgs .glyphicon {
    top: 50%;
    color: #d71921;
    font-size: 50px;
    position: absolute;
    transform: translateY(-50%); }

  #CarouselFactsImgs .carousel-control.right {
    right: 50px; }

  .img-padding-bt {
    padding-bottom: 50px !important; }

  /******************************************** */
  /***********          Team         ********** */
  /******************************************** */
  .team-name, .team-desc {
    font-size: 12px; }

  .team-name {
    height: 15px; }

  .team-desc {
    height: 25px; }

  /******************************************** */
  /***********        Nav Bar        ********** */
  /******************************************** */
  .navbar-default .navbar-nav > li > a {
    margin: 0px;
    padding: 17.5px 0px;
    background-color: #d71921; }

  .navbar-nav {
    margin: 0px; }

  .navbar-right {
    width: 100%; }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff; }

  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    border-bottom: none; }

  .fm-trns-btn {
    top: 4px;
    width: 35px;
    font-size: 15px;
    position: absolute; }

  .fm-trns-btn-1 {
    right: 100px; }

  .fm-trns-btn-2 {
    right: 60px; }

  .fm-trns-btn a {
    color: #cccccc;
    text-decoration: none; }

  .fm-li-mob {
    width: 25%; }

  /******************************************** */
  /***********          Work         ********** */
  /******************************************** */
  .work-ppal {
    min-height: 100vh; }

  #work .carousel-control.left, #work .carousel-control.right {
    z-index: 0;
    background-image: none !important; }

  #work .carousel-indicators {
    bottom: -50px !important; }

  #work .carousel-inner .item {
    min-height: 90vh; }

  #work .glyphicon {
    top: 90vh;
    font-size: 50px; }

  .modal iframe {
    max-width: 85vw; }

  .modal-dialog {
    max-width: 94vw; }

  #work .carousel-inner {
    z-index: 10; }

  /******************************************** */
  /***********          Reef         ********** */
  /******************************************** */
  #reef iframe {
    width: 350px;
    height: 300px;
    max-width: 85vw; }

  /******************************************** */
  /***********        Stories        ********** */
  /******************************************** */
  #storiesSto iframe {
    padding: 0px;
    height: 280px; }

  .stories-img {
    margin-top: 10px;
    margin-right: 10px; }

  .stories-title {
    font-size: 19px;
    margin-top: 10px; }

  .stories-desc {
    height: 130px;
    font-size: 18px;
    overflow: scroll; }

  #stories .carousel-control, #work .carousel-control {
    width: 15%;
    color: #d71921;
    height: 486px;
    font-size: 50px; }

  .fm-carousel-indicators {
    bottom: 227px; }

  #stories .carousel-indicators li, #work .carousel-indicators li {
    width: 6px !important;
    height: 6px !important;
    border: 1px solid #d71921 !important;
    margin: 0px 5px -1px 5px !important; }

  .fm-carousel-indicators .active, #work .carousel-indicators .active {
    background-color: #d71921; }

  /******************************************** */
  /***********        Clients        ********** */
  /******************************************** */
  .brand-div img {
    height: 50px; }

  /******************************************** */
  /***********        Contact        ********** */
  /******************************************** */
  .contact-ppal {
    margin-top: 0px;
    padding-top: 150px; }

  .contact-message {
    margin-bottom: 5vh; }

  .div-fb {
    margin-left: 22vw; }

  #contactCarousel .carousel-indicators {
    bottom: -40px; }

  #contactCarousel .carousel-indicators .active {
    width: 6px;
    margin: 1px;
    height: 6px;
    background-color: #d71921;
    border: 1px solid #d71921; }

  #contactCarousel .carousel-indicators li {
    width: 6px;
    height: 6px;
    border-color: #d71921;
    background-color: #d71921; }

  #contactCarousel .div-contact-b {
    width: 100%;
    text-align: right; }

  #contactCarousel input, #contactCarousel textarea {
    width: 100%; }

  #contactCarousel div.wpcf7-validation-errors {
    width: 100% !important; }

  #contactCarousel .carousel-inner {
    height: 450px; }

  #contactCarousel .carousel-control {
    color: #d71921; }

  #contactCarousel .glyphicon {
    top: 450px;
    font-size: 50px; }

  #contactCarousel .carousel-control:focus, .carousel-control:hover {
    text-shadow: none;
    opacity: 0.9 !important; }

  #contactCarousel .carousel-control {
    text-shadow: none;
    opacity: 1 !important; }

  .footer-txt-cp-1 {
    margin-top: -20px; } }
@media only screen and (min-width: 350px) and (max-width: 380px) {
  #stories {
    height: 110vh; } }
@media only screen and (min-width: 300px) and (max-width: 350px) {
  #stories {
    height: 125vh; } }
@media only screen and (max-width: 768px) and (orientation: portrait) {
  #stories {
    height: 125vh; } }
@media only screen and (max-width: 768px) and (orientation: landscape) {
  #stories {
    height: 225vh; }

  #work {
    height: 245vh; }

  #reef {
    height: 150vh; } }

/*# sourceMappingURL=style.css.map */
