/*********************************************/
/***********         Basic         ***********/
/*********************************************/
body
  font-family: 'Dosis-Book'

.bg-gray
  background-color: $bg-gray

.no-padding
  padding: 0 !important

.mt-5
  margin-top: 5px

.mt-30
  margin-top: 30px

.text-red
  color: $red

.center-div
  top: 50%
  left: 50%
  position: absolute
  transform: translate(-50%, -50%)

.vertical-align
  top: 50%
  transform: translateY(-50%)

.white-buttons
  font-size: 18px
  margin: 0px 5px
  color: $dark_gray
  padding: 4px 13px
  text-transform: uppercase
  border: 1px solid $dark_gray

.white-buttons.active, .white-buttons:hover
  cursor: pointer
  color: $dark_gray
  text-decoration: none
  background-color: $font-gray

.carousel-control
  opacity: 1

.carousel-control:hover
  opacity: .5
/*********************************************/
/***********        Nav Bar        ***********/
/*********************************************/
.fm-header
  top: 15px
  z-index: 1
  height: 60px
  position: fixed

.nav-li
  font-size: 18px
  text-transform: uppercase
  font-family: 'Dosis-Book'

.nav-li.active
  padding-bottom: 5px
  border-bottom: 1px solid $red
  
.navbar-default .navbar-nav>li>a
  color: $font-gray

.navbar>.container .navbar-brand
  margin-top: -7px
  padding-top: 15px !important

.navbar-default .navbar-toggle
  color: $white
  margin-top: 13px
  background-color: transparent
  border-color: 1px solid $white

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
  color: $white
  background-color: $red
  border: 1px solid $red


.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default
  border: none
  padding: 0px
  z-index: 999
  border-radius: 0px
  background-image: none
  background-color: $dark_gray

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
  cursor: pointer
  color: $font-gray
  padding-bottom: 5px
  border-bottom: 1px solid $red

.navbar-brand
  cursor: pointer

.navbar-right
  width: 75%

.fm-trns-btn
  width: 40px
  cursor: pointer
  margin: 9px 5px
  font-size: 18px
  padding: 5px 5px
  color: $font-gray
  font-family: 'Dosis-Book'
  text-transform: uppercase
  border: 1px solid $font-gray

.fm-trns-btn a
  box-shadow: none !important
.fm-trns-btn a:hover
  text-decoration: none

.fm-trns-btn.active
  border-color: $red
  background-color: $red
.fm-trns-btn.active a
  background-color: $red
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a
  box-shadow: none !important
  color: $font-gray !important
  background-image: none !important
  background-color: transparent !important
/*********************************************/
/***********          Home         ***********/
/*********************************************/
#Home
  width: 100vw
  height: 100vh
  background-size: cover
  background-repeat: no-repeat
  background-image: url("../images/fm-bg.png")

.fm-home
  margin-top: 60px
  height: calc(100vh - 75px)
  background: -moz-linear-gradient(top, $back_rgba_0 0%, $back_rgba_1 37%, $back_rgba_2 49%, $back_rgba_2 51%, $back_rgba_3 52%, $back_rgba_1 63%, $back_rgba_0 100%)
  background: -webkit-linear-gradient(top, $back_rgba_0 0%,$back_rgba_1 37%,$back_rgba_2 49%,$back_rgba_2 51%,$back_rgba_3 52%,$back_rgba_1 63%,$back_rgba_0 100%)
  background: linear-gradient(to bottom, $back_rgba_0 0%,$back_rgba_1 37%,$back_rgba_2 49%,$back_rgba_2 51%,$back_rgba_3 52%,$back_rgba_1 63%,$back_rgba_0 100%)


.text-home
  font-size: 22px
  color: $home-gray
  text-transform: uppercase
  
/*********************************************/
/***********          Team         ***********/
/*********************************************/

#team
  height: 100%
  min-height: 100vh
  background-color: $white

#teamFacts, #teamService, #teamTeam
  height: 100%
  display: none

#teamFacts.active, #teamService.active, #teamTeam.active
  display: block

.team-ppal
  margin-top: 60px
  min-height: 100vh

.team-buttons
  padding: 30px

.div-right-border
  border-right: 2px solid $dark_gray

.text-facts-desc
  font-size: 22px
  padding: 30px 0
  color: $home-gray
  text-transform: uppercase

.text-facts-icons
  height: 75px
  font-size: 20px
  color: $home-gray

.team-name
  font-size: 15px
  margin: 10px 0 0 0
  text-align: center
  text-transform: uppercase

.team-desc
  color: $red
  font-size: 15px
  text-align: center
  text-transform: uppercase

#teamTeam
  margin: 10px 0 60px 0

/*********************************************/
/***********          Work         ***********/
/*********************************************/
#work
  background-color: $dark_gray

.work-ppal
  margin-top: 105px
  min-height: calc(100vh - 75px)

.text-work
  font-size: 15px
  max-width: 150px
  color: $font-gray
  margin-bottom: 0px

.block-work
  margin-bottom: 5%

.modal-content
  background-color: $dark_gray

.close
  color: $white
  margin-bottom: 15px

.modal iframe
  margin-bottom: 15px

.modal-dialog
  max-width: 750px
  width: 100% !important

#modal1, #modal2, #modal3, #modal4, #modal5, #modal6, #modal7, #modal8, #modal9, #modal10,
#modal11, #modal12, #modal13, #modal14, #modal15, #modal16, #modal17, #modal18, #modal19, #modal20,
#modal21, #modal22, #modal23, #modal24, #modal25, #modal26, #modal27, #modal28, #modal29, #modal30,
#modal31, #modal32, #modal33, #modal34, #modal35, #modal36, #modal37, #modal38, #modal39, #modal40,
#modal41, #modal42, #modal43, #modal44, #modal45, #modal46, #modal47, #modal48, #modal49, #modal50,
#modal51, #modal52, #modal53, #modal54, #modal55, #modal56, #modal57, #modal58, #modal59, #modal60,
#modal61, #modal62, #modal63, #modal64, #modal65, #modal66, #modal67, #modal68, #modal69, #modal70,
#modal71, #modal72, #modal73, #modal74, #modal75, #modal76, #modal77, #modal78, #modal79, #modal80,
#modal81, #modal82, #modal83, #modal84, #modal85, #modal86, #modal87, #modal88, #modal89, #modal90,
#modal91, #modal92, #modal93, #modal94, #modal95, #modal96, #modal97, #modal98, #modal99, #modal100,
#modal101, #modal102, #modal103, #modal104, #modal105, #modal106, #modal107, #modal108, #modal109, #modal110,
#modal110, #modal112, #modal113, #modal114, #modal115, #modal116, #modal117, #modal118, #modal119, #modal120,
#modal120, #modal122, #modal123, #modal124, #modal125, #modal126, #modal127, #modal128, #modal129, #modal130,
#modal130, #modal132, #modal133, #modal134, #modal135, #modal136, #modal137, #modal138, #modal139, #modal140,
#modal140, #modal142, #modal143, #modal144, #modal145, #modal146, #modal147, #modal148, #modal149, #modal150,
#modal150, #modal152, #modal153, #modal154, #modal155, #modal156, #modal157, #modal158, #modal159, #modal160,
#modal160, #modal162, #modal163, #modal164, #modal165, #modal166, #modal167, #modal168, #modal169, #modal170,
#modal170, #modal172, #modal173, #modal174, #modal175, #modal176, #modal177, #modal178, #modal179, #modal180,
#modal180, #modal182, #modal183, #modal184, #modal185, #modal186, #modal187, #modal188, #modal189, #modal190,
#modal190, #modal192, #modal193, #modal194, #modal195, #modal196, #modal197, #modal198, #modal199, #modal200
  display: none


/*********************************************/
/***********          Reef         ***********/
/*********************************************/

#reef
  height: 100vh
  background-color: $dark_gray

.reef-ppal
  margin-top: 50px
  max-height: 720px
  height: calc(100vh - 75px)

.reef-title
  font-size: 18px
  color: $font-gray
  padding-bottom: 2%
  text-transform: uppercase


/*********************************************/
/***********        Stories        ***********/
/*********************************************/

#stories
  height: 100%
  min-height: 100vh
  background-color: $white

#stories.active
  background-color: $black

.stories-ppal
  height: 100%
  margin-top: 60px
  min-height: calc(100vh - 75px)

#stories .carousel-control.left, #contactCarousel .carousel-control.left
  background-image: none !important

#stories .carousel-control.right, #contactCarousel .carousel-control.right
  background-image: none !important

.fm-carousel-indicators li, .fm-carousel-indicators .active
  border: 1px solid $home-gray !important

.fm-carousel-indicators .active
  width: 10px !important
  height: 10px !important
  background-color: $home-gray

.fm-carousel-indicators
  bottom: -50px

#stories .carousel-indicators li
  width: 14px !important
  height: 14px !important
  margin: 0px 5px -1px 5px !important

#stories .carousel-indicators.active
  width: 12px !important
  height: 12px !important

#stories .carousel-control
  width: 71%
  opacity: 1
  z-index: 100
  height: 488px
  cursor: pointer
  color: $home-gray
  text-shadow: none

#stories .carousel-inner
  z-index: 101

#stories .carousel-control .glyphicon-menu-left, #stories .carousel-control .glyphicon-menu-right, #stories .carousel-control .icon-next, #stories .carousel-control .icon-prev
  top: 102% !important

.stories-info
  height: 480px
  border-bottom: 1px solid $home-gray

.stories-title
  font-size: 22px
  text-transform: uppercase

.stories-desc
  font-size: 20px

.stories-img
  margin-top: 50px

#storiesCli, #storiesSto
  display: none

#storiesCli.active, #storiesSto.active
  display: block

.brand-div
  margin: 10px 0
  max-height: 80px

#storiesCli
  margin-bottom: 60px

/*********************************************/
/***********        Contact        ***********/
/*********************************************/

#contacto
  height: 100vh
  background-color: $bg-gray

.contact-ppal
  margin-top: 50px
  max-height: 720px
  padding-top: 150px
  height: calc(100vh - 75px)

.contact-message
  font-size: 22px
  color: $home-gray
  margin-bottom: 6vh

.text-city
  font-size: 22px
  margin-bottom: 0
  color: $home-gray

.text-info
  font-size: 20px
  margin-bottom: 0
  color: $home-gray

#contacto input, #contacto textarea
  width: 70%
  padding: 5px
  color: $white
  border: 1px solid $dark_gray
  background-color: transparent
#contacto input::-webkit-input-placeholder,
#contacto textarea::-webkit-input-placeholder
  color: $white
  text-transform: uppercase
#contacto input::-moz-placeholder,
#contacto textarea::-moz-placeholder
  color: $white
  text-transform: uppercase
#contacto input:-ms-input-placeholder,
#contacto textarea:-ms-input-placeholder
  color: $white
  text-transform: uppercase
#contacto input:-moz-placeholder,
#contacto textarea:-moz-placeholder
  color: $white
  text-transform: uppercase

.div-contact-b
  width: 70%
  text-align: right

.wpcf7-submit
  cursor: pointer
  width: auto !important
  text-transform: uppercase
  color: $dark_gray !important
  padding: 5px 10px !important

.wpcf7-submit:hover
  background-color: $white !important

div.wpcf7-validation-errors
  width: 70% !important
  margin: 5% 0 !important
  padding: 0.2em 1em !important
  border: 2px solid $red !important

#contacto .div-right-border
  max-height: 70vh
  margin-bottom: 10vh

.div-sm-icons
  margin-top: 5vh

.div-fb
  margin-left: 17vw

.footer-txt-cp
  font-size: 15px
  font-family: Dosis-Book

.footer-txt-cp-1 a
  cursor: pointer
  color: $dark_gray
  text-decoration: none

// Admin Panel
.login h1 a
  width: 150px !important
  height: 150px !important
  margin: 0 auto -20px !important
  background-size: 150px !important
  background-image: url("../images/FMLogo.jpg") !important

