@font-face
  font-family: 'Dosis-Bold'
  src: url('fonts/Dosis-Bold/dosis.bold.eot')
  src: url('fonts/Dosis-Bold/Dosis-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Dosis-Bold/Dosis-Bold.woff') format('woff'), url('fonts/Dosis-Bold/Dosis-Bold.ttf') format('truetype'), url('fonts/Dosis-Bold/Dosis-Bold.svg') format('svg')
  
@font-face
  font-family: 'Dosis-Book'
  src: url('fonts/Dosis-Book/dosis.book.eot')
  src: url('fonts/Dosis-Book/Dosis-Book.eot?#iefix') format('embedded-opentype'), url('fonts/Dosis-Book/Dosis-Book.woff') format('woff'), url('fonts/Dosis-Book/Dosis-Book.ttf') format('truetype'), url('fonts/Dosis-Book/Dosis-Book.svg') format('svg')

@font-face
  font-family: 'Dosis-ExtraBold'
  src: url('fonts/Dosis-ExtraBold/dosis.extrabold.eot')
  src: url('fonts/Dosis-ExtraBold/Dosis-ExtraBold.eot?#iefix') format('embedded-opentype'), url('fonts/Dosis-ExtraBold/Dosis-ExtraBold.woff') format('woff'), url('fonts/Dosis-ExtraBold/Dosis-ExtraBold.ttf') format('truetype'), url('fonts/Dosis-ExtraBold/Dosis-ExtraBold.svg') format('svg')

@font-face
  font-family: 'Dosis-ExtraLight'
  src: url('fonts/Dosis-ExtraLight/dosis.extralight.eot')
  src: url('fonts/Dosis-ExtraLight/Dosis-ExtraLight.eot?#iefix') format('embedded-opentype'), url('fonts/Dosis-ExtraLight/Dosis-ExtraLight.woff') format('woff'), url('fonts/Dosis-ExtraLight/Dosis-ExtraLight.ttf') format('truetype'), url('fonts/Dosis-ExtraLight/Dosis-ExtraLight.svg') format('svg')

@font-face
  font-family: 'Dosis-Light'
  src: url('fonts/Dosis-Light/dosis.light.eot')
  src: url('fonts/Dosis-Light/Dosis-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Dosis-Light/Dosis-Light.woff') format('woff'), url('fonts/Dosis-Light/Dosis-Light.ttf') format('truetype'), url('fonts/Dosis-Light/Dosis-Light.svg') format('svg')

@font-face
  font-family: 'Dosis-Medium'
  src: url('fonts/Dosis-Medium/dosis.medium.eot')
  src: url('fonts/Dosis-Medium/Dosis-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Dosis-Medium/Dosis-Medium.woff') format('woff'), url('fonts/Dosis-Medium/Dosis-Medium.ttf') format('truetype'), url('fonts/Dosis-Medium/Dosis-Medium.svg') format('svg')

@font-face
  font-family: 'Dosis-SemiBold'
  src: url('fonts/Dosis-SemiBold/dosis.semibold.eot')
  src: url('fonts/Dosis-SemiBold/Dosis-SemiBold.eot?#iefix') format('embedded-opentype'), url('fonts/Dosis-SemiBold/Dosis-SemiBold.woff') format('woff'), url('fonts/Dosis-SemiBold/Dosis-SemiBold.ttf') format('truetype'), url('fonts/Dosis-SemiBold/Dosis-SemiBold.svg') format('svg')

@font-face
  font-family: 'msmt'
  src: url('fonts/msmt/msmt.eot')
  src: url('fonts/msmt/msmt.eot?#iefix') format('embedded-opentype'), url('fonts/msmt/msmt.woff') format('woff'), url('fonts/msmt/msmt.ttf') format('truetype'), url('fonts/msmt/msmt.svg') format('svg')
