@media only screen and (min-width: 1170px)
  /*********************************************/
  /***********        Contact        ***********/
  /*********************************************/
  .div-fb
    margin-left: 39%

  .div-sm-icons
    margin-top: 8%

  .contact-message
    margin-bottom: 5%

@media only screen and (max-width: 768px)
  .white-buttons
    font-size: 12px

  /*********************************************/
  /***********         Home          ***********/
  /*********************************************/
  .text-home
    font-size: 20px

  /*********************************************/
  /***********         Facts         ***********/
  /*********************************************/
  .text-facts-desc
    font-size: 20px

  #CarouselFactsDesc .fm-carousel-indicators
    bottom: 0px

  #CarouselFactsDesc .carousel-indicators li, #CarouselFactsDesc .carousel-indicators li .active
    width: 15px !important
    height: 15px !important

  #CarouselFactsDesc .fm-carousel-indicators li, #CarouselFactsDesc .fm-carousel-indicators .active
    margin: 5px 1px

  #CarouselFactsDesc .fm-carousel-indicators .active
    margin-top: -2px
    border: 1px solid $red !important
    background-color: $red !important

  #CarouselFactsDesc .carousel-indicators li
    background-color: $font-gray
    border: 1px solid $font-gray !important

  #CarouselFactsImgs
    margin-bottom: 75px

  #CarouselFactsImgs .fm-carousel-indicators
    bottom: -45px

  #CarouselFactsImgs .carousel-control.left, #CarouselFactsImgs .carousel-control.right
    background-image: none !important

  #CarouselFactsImgs .glyphicon
    top: 50%
    color: $red
    font-size: 50px
    position: absolute
    transform: translateY(-50%)

  #CarouselFactsImgs .carousel-control.right
    right: 50px

  .img-padding-bt
    padding-bottom: 50px !important

  /*********************************************/
  /***********          Team         ***********/
  /*********************************************/
  .team-name, .team-desc
    font-size: 12px

  .team-name
    height: 15px

  .team-desc
    height: 25px

  /*********************************************/
  /***********        Nav Bar        ***********/
  /*********************************************/
  .navbar-default .navbar-nav>li>a
    margin: 0px
    padding: 17.5px 0px
    background-color: $red

  .navbar-nav
    margin: 0px

  .navbar-right
    width: 100%

  .navbar-default .navbar-toggle .icon-bar
    background-color: $white

  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
    border-bottom: none

  .fm-trns-btn
    top: 4px
    width: 35px
    font-size: 15px
    position: absolute

  .fm-trns-btn-1
    right: 100px

  .fm-trns-btn-2
    right: 60px

  .fm-trns-btn a
    color: $font-gray
    text-decoration: none

  .fm-li-mob
    width: 25%

  /*********************************************/
  /***********          Work         ***********/
  /*********************************************/
  .work-ppal
    min-height: 100vh

  #work .carousel-control.left, #work .carousel-control.right
    z-index: 0
    background-image: none !important

  #work .carousel-indicators
    bottom: -50px !important

  #work .carousel-inner .item
    min-height: 90vh

  #work .glyphicon
    top: 90vh
    font-size: 50px

  .modal iframe
    max-width: 85vw

  .modal-dialog
    max-width: 94vw

  #work .carousel-inner
    z-index: 10



  /*********************************************/
  /***********          Reef         ***********/
  /*********************************************/
  #reef iframe
    width: 350px
    height: 300px
    max-width: 85vw

  /*********************************************/
  /***********        Stories        ***********/
  /*********************************************/
  #storiesSto iframe
    padding: 0px
    height: 280px

  .stories-img
    margin-top: 10px
    margin-right: 10px

  .stories-title
    font-size: 19px
    margin-top: 10px

  .stories-desc
    height: 130px
    font-size: 18px
    overflow: scroll

  #stories .carousel-control, #work .carousel-control
    width: 15%
    color: $red
    height: 486px
    font-size: 50px

  .fm-carousel-indicators
    bottom: 227px

  #stories .carousel-indicators li, #work .carousel-indicators li
    width: 6px !important
    height: 6px !important
    border: 1px solid $red !important
    margin: 0px 5px -1px 5px !important

  .fm-carousel-indicators .active, #work .carousel-indicators .active
    background-color: $red

  /*********************************************/
  /***********        Clients        ***********/
  /*********************************************/
  .brand-div img
    height: 50px

  /*********************************************/
  /***********        Contact        ***********/
  /*********************************************/
  .contact-ppal
    margin-top: 0px
    padding-top: 150px

  .contact-message
    margin-bottom: 5vh

  .div-fb
    margin-left: 22vw

  #contactCarousel .carousel-indicators
    bottom: -40px
    
  #contactCarousel .carousel-indicators .active
    width: 6px
    margin: 1px
    height: 6px
    background-color: $red
    border: 1px solid $red

  #contactCarousel .carousel-indicators li
    width: 6px
    height: 6px
    border-color: $red
    background-color: $red

  #contactCarousel .div-contact-b
    width: 100%
    text-align: right

  #contactCarousel input, #contactCarousel textarea
    width: 100%

  #contactCarousel div.wpcf7-validation-errors
    width: 100% !important

  #contactCarousel .carousel-inner
    height: 450px

  #contactCarousel .carousel-control
    color: $red

  #contactCarousel .glyphicon
    top: 450px
    font-size: 50px

  #contactCarousel .carousel-control:focus, .carousel-control:hover
    text-shadow: none
    opacity: .9 !important

  #contactCarousel .carousel-control
    text-shadow: none
    opacity: 1 !important

  .footer-txt-cp-1
    margin-top: -20px

@media only screen and (min-width: 350px) and (max-width: 380px)
  #stories
    height: 110vh

@media only screen and (min-width: 300px) and (max-width: 350px)
  #stories
    height: 125vh

@media only screen and (max-width: 768px) and (orientation: portrait)
  #stories
    height: 125vh

@media only screen and (max-width: 768px) and (orientation: landscape)
  #stories
    height: 225vh

  #work
    height: 245vh

  #reef
    height: 150vh


